/*html, body {*/
/*  overflow: hidden;*/
/*}*/

body{
  font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
  background-color: white;
}

/*.cld-day {*/
/*  border: 0 !important;*/
/*}*/
/*.cld-label{*/
/*  color:white !important;*/
/*}*/

.card{
  background:rgba(255,255,255,0.8);
  border-radius: 25px;
  padding:3%;
}
.cld-main {
  padding: 50px;
  color:white !important;
}
.cld-datetime{
  padding-bottom: 5%;
  font-size: 30px;
}

.test {
  background-color: #276E90;
}

.cld-main svg{
  fill: #ffffff !important; 
}

.cld-labels .cld-label{
  font-size: 15px;
}